<div class="collapse navbar-collapes" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item">Home</a>
      <a class="nav-item">Galleries</a>
      <a class="nav-item">About Us</a>
    </div>
  </div>